/* body {
  background-image: url(https://img.freepik.com/free-vector/theater-stage-with-red-curtain-seats-spotlight_259139-144.jpg?w=2000);
  background-repeat: no-repeat;
} */

html {
  background: url(https://img.freepik.com/free-vector/theater-stage-with-red-curtain-seats-spotlight_259139-144.jpg?w=2000g) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  color: white;
}

#promptText {
  width: 30%;
  font-size: large;
  border-radius: 7px;
}

.response {
  border: solid;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  line-height: 300px;
  margin-top: 20px;
  background-color: black;

}

.response p {
  text-align: center;
  vertical-align: middle;
  color: white;
}

.responseHistory {
  width: 50%;
  height: 300px;
  border-style: solid;
  border-radius: 7px;
  margin-top: 70px;
  overflow: scroll;
  background-color: white;
}

#standard-basic {
  color: white;
}

#standard-basic-label {
  color: white;
}





